  .color-lateral{
    background-color: #223b56 !important; 
  }
  
  .color-nav-sup{
    background-color: #1086e8 ;
  }

  .font-white{
    color: white;
  }

  .font-red{
    color: red !important;
  }
